body {
  color: #EFEFEF;
  background-color: #111111;
}

.row {
  margin: auto;
  max-width: 800px;
}

.flex-container {
  margin-top: 200px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
  -webkit-align-content: flex-start; /* Safari */
  align-content:         flex-start;

  input[type=search] {
    margin: auto;
    position: relative;
    width: 50%;
    padding: 5px;
    color: #111111;
    font-size: 2rem;
    border: 5px solid transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    -moz-border-image: -moz-linear-gradient(top, #89C170 0%, #2E9EE4 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #89C170 0%, #2E9EE4 100%);
    border-image: linear-gradient(to right, #89C170 0%, #2E9EE4 100%);
    border-image-slice: 1;
  }

  input[type=search]:focus {
    width: 100%;
  }

  .station {
    width: 100%;
    padding: 20px 30px 5px 30px;
    margin: 15px 0px;
    border: 1px solid #808080;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;

    .false {
      color: #FFFFFF; // Green #18b62a
    }

    .true {
      color: #FF0000;
      text-decoration: line-through;
    }

    .city {
      text-align: right;
      font-weight: normal;
      font-size: 1.5rem;
      font-style: italic;
      color: #777777;
    }
  }
}